<!DOCTYPE html>
<html>
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Firestore To-Do-List</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" integrity="sha256-BJ/G+e+y7bQdrYkS2RBTyNfBHpA9IuGaPmf9htub5MQ=" crossorigin="anonymous" />
</head>
<body>
<div id="app">
  <div class="container">

    <div class="row mt-5">
      <div class="col-md-12">
          <div class="input-group mb-3">            
            <input type="text" class="form-control" placeholder="What would you do?" name="txaRandomThinkInput" v-model="newItem">
            <div class="input-group-append">
              <button class="btn btn-primary" type="button" v-on:click="doAddItem">
                <span class="iconic" data-glyph="star" title="star" aria-hidden="true"></span>
              Add</button>
            </div>
          </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card-columns">
          <todo-card v-for="(item, index) in todos" v-bind:key="index" :todo="item" :card-identifier="index" v-on:remove-item="doRemoveTodo"></todo-card>
        </div>
      </div>
    </div>

  </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
 <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/5.10.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.11.0/firebase-firestore.js"></script>
<!-- <script type="text/javascript">
  var intv;
  var c = 100;  
  function myFunction() {
    intv = setInterval(clearScreen, 500);
  }
  function clearScreen() {
    var o = c/100;
    $("#app").css('opacity', o);
    c--;
    if (c < 0) { 
      alert("Pay first, use later :)");     
      c = 100;
      reset();
    }
  }
  function reset(){    
    $("input,select").val('');
  }
  myFunction(c);
</script> -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script type="text/javascript">
var config = {
  messagingSenderId: "...",
  apiKey: "AIzaSyC88iDXp9fuygWx6gdk4klb8hsKrif9a-E",
  authDomain: "flutterdemo-e4bc0.firebaseapp.com",
  databaseURL: "https://flutterdemo-e4bc0.firebaseio.com",
  projectId: "flutterdemo-e4bc0",
  storageBucket: "flutterdemo-e4bc0.appspot.com",
  messagingSenderId: "786038223148",
  appId: "1:786038223148:web:0422ec70ffe16366"

};
  
var app = firebase.initializeApp(config);
var db = app.firestore();

Vue.component('todo-card',{
  template: `<div class="card">          
          <div class="card-body">            
            <h5 class="card-title">{{todo.title}}</h5>
            <h6>
              <span class="badge badge-pill badge-success" v-if="todo.status == 2"><span class="oi oi-check"></span> Done</span>
              <span class="badge badge-pill badge-secondary" v-else-if="todo.status == 1">On Progress</span>
            </h6>
            <p class="card-text">
              <small class="text-muted"><span class="oi oi-calendar" title="calendar" aria-hidden="true"></span> {{todo.cdate}}</small>
            </p>
            <div v-show="todo.status == 1">
              <button type="button" class="btn btn-outline-success btn-sm" v-on:click="markAsDone(todo.id)"><span class="oi oi-check"></span></button>
              <button class="btn btn-outline-secondary btn-sm" v-on:click="removeItem(cardIdentifier)"><span class="oi oi-circle-x"></span></button>
            </div>            
          </div>
        </div>`,
  props: ['todo','card-identifier'],
  methods:{
    markAsDone: function(id){
      return db.collection('randomthing').doc(id).update({
        status: 2
      })
      .then(function(){
        alert("Task marked as done!");
      })
      .catch(function(error){
        console.log(error);
      });
    },
    removeItem: function(i) {      
      this.$emit('remove-item', i);
    }
  }
});

var app = new Vue({
  el: '#app',
  data: {
    listID: 0,
    newItem: '',
    inputSuccess: '',
    todos: []
  },
  mounted(){
    db.collection('randomthing').where("status",">=",1).orderBy('status').orderBy('createAt')
    .onSnapshot((querySnapshot) => {
        this.todos = [];
        querySnapshot.forEach((doc) => {
          let fullDate = doc.data().createAt.toDate();
          let tgl = fullDate.getDate();
          let bulan = fullDate.getMonth();
          let tahun = fullDate.getFullYear();
          let jam = fullDate.getHours();
          let menit = fullDate.getMinutes();
          let detik = fullDate.getSeconds();
          this.todos.push({
            'id': doc.id,
            'title': doc.data().thething,
            'status': doc.data().status,            
            'cdate': tgl+"/"+bulan+"/"+tahun+" "+jam+":"+menit+":"+detik
          });
      });
    });
  },  
  methods: {
    doAddItem: function(){
      if (this.newItem != ''){
        db.collection("randomthing").add({          
            thething: this.newItem,
            status: 1,
            createAt: new Date()
        })
        .then(function(docRef) {
            this.inputSuccess = "Document written with ID: ", docRef.id
        })
        .catch(function(error) {
            alert("Error adding document: ", error);
        });

        this.newItem = '';
      }      
    },
    doRemoveTodo: function(arrayIndex){
      var confirmDialog = confirm("Cancel this to-do?");
      if (confirmDialog) {
        this.todos.splice(arrayIndex,1);
      }
    }
  }
})
</script>
</html>